{% extends "base.html" %}

{% block content %}
<h1>
    Driver List
    <a href="{% url 'taxi:driver-create' %}" class="btn btn-primary link-to-page">
        Create
    </a>
</h1>

{% include "taxi/search_form.html" with search_param="driver_search_query" placeholder="Search Drivers" %}

{% if driver_list %}
<table class="table">
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>License Number</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>

    {% for driver in driver_list %}
    <tr>
        <td>{{ driver.id }}</td>
        <td>{{ driver.username }}</td>
        <td>{{ driver.license_number }}</td>
        <td><a href="{% url 'taxi:driver-update' pk=driver.id %}">Update</a></td>
        <td><a style="color: red" href="{% url 'taxi:driver-delete' pk=driver.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No drivers found.</p>
{% endif %}
{% endblock %}
